---
import { LogoComponent } from '@/components/ui/LogoComponent';
import { ModeToggleButton } from '@/components/ui/ModeToggleButton';
---

<header class="container mx-auto px-2 py-4 flex justify-between items-center fixed top-0 left-0">
  <a href="/" class="flex items-center gap-3">
    <span class="bg-dark dark:bg-white inline-flex justify-center items-center p-2 rounded-full w-10 h-10">
      <LogoComponent client:load />
    </span>
    <span class="font-rokkitt font-bold text-black dark:text-white text-2xl"
      >I'm <span class="bg-clip-text text-transparent bg-gradation-clip bg-cover">RyoTa.</span></span
    >
  </a>
  <ModeToggleButton client:load />
</header>
