---
import { Spacer } from '@/components/system/Spacer';
import { LogoComponent } from '@/components/ui/LogoComponent';
import { ModeToggleButton } from '@/components/ui/ModeToggleButton';

import { GitReleaseMenu } from './components/GitReleaseMenu';
import { Title } from './components/Title';
---

<div class="fixed top-0 left-0 w-full z-50">
  <header class="container mx-auto px-2 py-4 flex justify-between items-center gap-4">
    <a href="/" class="flex items-center gap-3">
      <span
        class="bg-dark dark:bg-white inline-flex justify-center items-center p-2 rounded-full w-8 h-8 md:w-10 md:h-10"
      >
        <LogoComponent client:only />
      </span>
      <Title client:load />
    </a>
    <GitReleaseMenu client:load />
    <Spacer />
    <ModeToggleButton client:load />
  </header>
</div>
