<nav>
  <ul>
    <li class="text-zinc-800 dark:text-zinc-100 text-sm">
      <a href="/changelog" class="underline">Changelog</a>
    </li>
    <li class="text-zinc-800 dark:text-zinc-100 mt-3 text-sm">
      <a href="/assets" class="underline">Assets</a>
    </li>
  </ul>
</nav>
