@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700&family=Rokkitt:wght@400;700&display=swap');

@font-face {
  font-family: aoharu;
  src: url('/fonts/aoharu-marker-mini.otf');
  font-display: swap;
}
