@font-face {
  font-family: aoharu;
  src: url('/fonts/aoharu-marker-mini.otf');
  font-display: swap;
}

@font-face {
  font-family: bodoni;
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/BodoniModa_28pt-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: bodoni;
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/BodoniModa_28pt-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: bodoni;
  font-style: normal;
  font-weight: 900;
  src: url('/public/fonts/BodoniModa_28pt-Black.ttf');
  font-display: swap;
}

@font-face {
  font-family: rokkitt;
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/Rokkitt-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: rokkitt;
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/Rokkitt-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: rokkitt;
  font-style: normal;
  font-weight: 900;
  src: url('/public/fonts/Rokkitt-Black.ttf');
  font-display: swap;
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.news-notification-hue-transition:hover {
  position: relative;
  cursor: pointer;
  animation: huerotate 4s linear infinite;
}

@keyframes huerotate {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

body .splide__list {
  padding-top: 1rem !important;
  padding-bottom: 3rem !important;
}
