---
import PageTitle from '@/components/ui/PageTitle/index.astro';

import { BreadCrumbs } from '@/features/BreadCrumbs';
import { Changelogs } from '@/features/Changelogs';

import Layout from '@/layouts/Layout.astro';
---

<Layout url={`${import.meta.env.SITE}/changelog`} title="Changelogs">
  <div class="container mx-auto max-w-3xl px-4 my-24">
    <BreadCrumbs
      list={[
        {
          label: 'Changelog',
          path: '/changelog',
        },
      ]}
    />
    <PageTitle>Changelog</PageTitle>
    <div class="flex flex-col gap-4 w-full">
      <Changelogs client:load />
    </div>
  </div>
</Layout>
