---
import Layout from '@/layouts/Layout.astro';
import MainVisual from '@/features/MainVisual/index.astro';
---

<Layout url={`${import.meta.env.SITE}`}>
  <main class="container mx-auto">
    <!-- 
		<ul role="list" class="link-card-grid">
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
    <MainVisual />
  </main>
</Layout>
