---
import EmbedBaseLinkCard from '@/components/ui/EmbedBaseLinkCard/index.astro';
import PageTitle from '@/components/ui/PageTitle/index.astro';

import { BreadCrumbs } from '@/features/BreadCrumbs';
import { SLIDE_LIST } from '@/features/EngineerIntroduction/constants';

import Layout from '@/layouts/Layout.astro';
---

<Layout url={`${import.meta.env.SITE}/slides`} title="登壇資料">
  <div class="container mx-auto max-w-3xl px-4 my-24">
    <BreadCrumbs
      list={[
        {
          label: 'Slides',
          path: '/slides',
        },
      ]}
    />
    <PageTitle>Slides</PageTitle>
    <div class="flex flex-col gap-4 w-full">
      {SLIDE_LIST.map((slide) => <EmbedBaseLinkCard {...slide} />)}
    </div>
  </div>
</Layout>
