---
import EmbedBaseLinkCard from '@/components/ui/EmbedBaseLinkCard/index.astro';

import ChronologicalTable from './components/ChronologicalTable.astro';
import DescriptionItem from './components/DescriptionItem.astro';
import { LinkList } from './components/LinkList';
import { SkillSet } from './components/SkillSet';
import UnorderListTable from './components/UnorderListTable.astro';
import { APPLICATION_LIST, SLIDE_LIST } from './constants';
---

<dl class="flex flex-col gap-8 md:gap-4">
  <!-- 名前 -->
  <DescriptionItem title="名前" color="before:text-[#ef4444]">りょーた</DescriptionItem>
  <!-- 所属 -->
  <DescriptionItem title="所属" color="before:text-[#f59e0b]">株式会社ニュートラル{'　'}CTO兼デザインエンジニア</DescriptionItem>
  <!-- 自己紹介 -->
  <DescriptionItem title="自己紹介" color="before:text-[#eab308]">
    ３年間フロントエンドエンジニアとして活動後、デザインエンジニアにキャリアチェンジ<br />
    フロントエンド全般とデザインに興味があります。作ることが好きで、趣味でWebアプリを作っています。<br />
    登壇、記事の執筆も行っています。<br />
    <br />
    エンジニアになった詳細な経緯はこちらでご確認ください。
    <div class="my-4">
      <EmbedBaseLinkCard
        url="https://note.com/ryotanny/n/ndd94dd3b26e6"
        description="はじめまして、フロントエンドエンジニア兼デザイナーのりょーたです。noteに「初めての記事は自己紹介でも気軽に書いてみなよ」と言われたので書きたいと思います😄 （さすがnote）"
        title="はじめまして、りょーたです👋"
        favicon="https://note.com/favicon.ico"
        siteName="note"
        thumbnail="https://assets.st-note.com/production/uploads/images/93863896/rectangle_large_type_2_7c48affb45fd1c6b8b2f5ccb5353c591.png?width=200"
      />
    </div>
    <br />
    興味を持っていただいた方はぜひカジュアルにお話ししましょう！！<br />
    ↓以下からお気軽にご応募ください😊
    <div class="mt-4">
      <EmbedBaseLinkCard
        url="https://musubite-job.com/recruitments/JZlLrqiB2jnx"
        description="フォロワー採用のMusubiteに興味はありませんか？デザインエンジニアとしてお話します💪"
        title="MusubiteのMVP作成に興味をお持ちの方、ぜひお話ししましょう！"
        favicon="https://musubite-job.com/favicon.ico"
        siteName="Musubite"
        thumbnail="https://cdn.api.musubite-job.com/as3yhg6zklvgx4gs5q4xylkf49qx?timestamp=1694004854320"
      />
    </div>
  </DescriptionItem>
  <!-- 経歴 -->
  <DescriptionItem title="経歴" color="before:text-[#84cc16]">
    <ChronologicalTable
      data={[
        { date: '2020-03', description: '神戸大学  工学部  機械工学科卒業' },
        { date: '2020-04', description: '株式会社神戸デジタル・ラボ入社' },
        { date: '2022-12', description: '株式会社神戸デジタル・ラボ退社' },
        { date: '2023-01', description: '株式会社ニュートラル入社' },
      ]}
    />
  </DescriptionItem>
  <!-- 副業 -->
  <DescriptionItem title="副業" color="before:text-[#10b981]">
    <ChronologicalTable
      data={[
        { date: '2022-03', description: '新規サービスのモックをFigmaで作成する業務委託（2022年5月に終了）' },
        { date: '2023-05', description: '新規サービスのデザイン業務とWebフロント開発の業務委託' },
      ]}
    />
  </DescriptionItem>
  <!-- 活動 -->
  <DescriptionItem title="活動" color="before:text-[#14b8a6]">
    <ChronologicalTable
      data={[
        { date: '2021-01', description: 'つながる勉強会の運営（2023年9月に終了）' },
        { date: '2022-06', description: 'Web Creators Meetupの運営（2022年12月に終了）' },
        { date: '2022-06', description: 'YouTubeインタビュー（【対談動画】フロントエンドエンジニアのりょーたさんに色々聞いてみたぞーー）', link: 'https://youtu.be/lgsR7iWB9hw' },
        { date: '2023-02', description: 'ブログ記事インタビュー', link: 'https://sakai-kojiblog.com/interview-no4/' },
        { date: '2023-10', description: 'YouTubeインタビュー（25歳の若手CTO登場！「デザインエンジニア」の仕事内容や20代で役員クラスのIT人材になることができた秘訣を聞いてみた！）', link: 'https://www.youtube.com/watch?v=RrxlAHAx-Ro' },
      ]}
    />
  </DescriptionItem>
  <!-- 登壇 -->
  <DescriptionItem title="登壇" color="before:text-[#06b6d4]">
    <div class="flex flex-col gap-4 w-full">
      {SLIDE_LIST.slice(0, 3).map((slide) => <EmbedBaseLinkCard {...slide} />)}
    </div>
    <div class="mt-4 flex items-center justify-center">
      <a
        href="/assets#slides"
        class="inline-flex w-48 rounded-full font-bold py-3 bg-dark dark:bg-white justify-center text-white dark:text-black hover:scale-105 transition-transform cursor-pointer mt-4"
        >もっと見る</a
      >
    </div>
  </DescriptionItem>
  <!-- スキル -->
  <DescriptionItem title="スキル" color="before:text-[#3b82f6]"><SkillSet client:load /></DescriptionItem>
  <!-- 資格 -->
  <DescriptionItem title="資格" color="before:text-[#6366f1]">
    <UnorderListTable data={['HTML5プロフェッショナル認定試験レベル1']} />
  </DescriptionItem>
  <!-- 制作物 -->
  <DescriptionItem title="制作物" color="before:text-[#a855f7]">
    <div class="flex flex-col gap-4 w-full">
      {APPLICATION_LIST.map((application) => <EmbedBaseLinkCard {...application} />)}
    </div>
  </DescriptionItem>
  <!-- リンク -->
  <DescriptionItem title="リンク" color="before:text-[#ec4899]">
    <LinkList client:load />
  </DescriptionItem>
</dl>
