---
import Description from './Description.astro';
import Title from './Title.astro';
import { ScreenEventObserver } from '@/components/system/ScreenEventObserver';
import { PerformanceReport } from '../PerformanceReport';
---

<ScreenEventObserver client:load id="engineer">
  <div class="container mx-auto max-w-3xl px-4 mt-24" id="engineer">
    <Title />
    <div class="mt-8 md:mt-20 mx-auto max-w-2xl flex flex-col gap-2">
      <Description />
    </div>
    <PerformanceReport client:load />
  </div>
</ScreenEventObserver>
