---
import { Image } from '@astrojs/image/components';
---

<Image
  src="/images/illustrator-introduction.webp"
  alt="飛ばないペンギン"
  class="w-full"
  width={1200}
  height={400}
  aspectRatio={3 / 1}
  format="png"
/>
<p class="text-black dark:text-white mt-8">
  ryotannyという名前でイラストを描いています。<br />
  <a
    href="https://www.instagram.com/tobanai_penguin/"
    class="underline text-blue-600 dark:text-blue-300"
    title="Instagram"
    target="_blank"
    rel="noopener noreferrer"
  >
    Instagram</a
  >で「飛ばないペンギン」のイラストを投稿したり、 <a
    href="https://line.me/S/shop/sticker/author/104726"
    class="underline text-blue-600 dark:text-blue-300"
    title="Instagram"
    target="_blank"
    rel="noopener noreferrer"
  >
    LINEスタンプ
  </a>の販売しています。<br />
  その他、
  <a
    href="https://minne.com/@ryotanny/profile"
    class="underline text-blue-600 dark:text-blue-300"
    title="Instagram"
    target="_blank"
    rel="noopener noreferrer"
  >
    minne
  </a>
  や
  <a
    href="https://coconala.com/users/3820345"
    class="underline text-blue-600 dark:text-blue-300"
    title="Instagram"
    target="_blank"
    rel="noopener noreferrer"
  >
    coconala
  </a>
  でも出品していますのでよければご覧ください！
</p>
