---
import { Image } from '@astrojs/image/components';
---

<Image
  src="/images/illustrator-introduction.webp"
  alt="飛ばないペンギン"
  class="w-full"
  width={1200}
  height={400}
  aspectRatio={3 / 1}
  format="png"
/>
<p class="text-black dark:text-white mt-8">
  ryotannyという名前で「飛ばないペンギン」というキャラクターのイラストを描いています。<br />
  イラストは
  <a
    href="https://www.instagram.com/tobanai_penguin/"
    class="underline text-blue-600 dark:text-blue-300"
    title="Instagram"
    target="_blank"
    rel="noopener noreferrer"
  >
    Instagram</a
  >で投稿している他、
  <a
    href="https://line.me/S/shop/sticker/author/104726"
    class="underline text-blue-600 dark:text-blue-300"
    title="Instagram"
    target="_blank"
    rel="noopener noreferrer"
  >
    LINEスタンプ
  </a>
  の販売をしています。
</p>
