---
import { ScreenEventObserver } from '@/components/system/ScreenEventObserver';

import Description from './Description.astro';
import InstagramWork from './InstagramWork.astro';
import { LINEStickerWork } from './LINEStickerWork';
import { ShirtWork } from './ShirtWork';
import Title from './Title.astro';
---

<ScreenEventObserver client:load id="illustrator">
  <div class="container mx-auto max-w-3xl px-4" id="illustrator">
    <Title />
    <div class="max-w-2xl mx-auto my-8">
      <Description />
    </div>
  </div>
  <InstagramWork />
  <LINEStickerWork client:only />
  <ShirtWork client:only />
</ScreenEventObserver>
