---
import InstagramList from './InstagramList.astro';
---

<div class="w-full my-24 bg-hologram pb-12 relative bg-[length:100%_90%] md:bg-[length:70%_80%]">
  <div class="container mx-auto mb-12">
    <div class="max-w-4xl mx-auto my-8 w-full">
      <h3 class="font-bodoni text-black dark:text-white font-bold text-4xl md:text-6xl w-[90vw] md:w-full mx-auto">Instagram</h3>
    </div>
  </div>
  <div
    class="flex justify-start gap-8 max-w-4xl mx-auto flex-col md:flex-row w-[90vw] md:w-full overflow-x-scroll lg:overflow-x-visible"
  >
    <InstagramList />
  </div>
  <span class="font-aoharu absolute left-8 bottom-4" role="presentation">Instagram</span>
</div>

<style>
  .bg-hologram {
    background-image: url('/images/hologram.webp');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
</style>
