---
import { Image } from '@astrojs/image/components';

import { LINE_STICKERS_LIST } from './constants';
---

<div class="w-full my-36 bg-hologram pb-12 relative bg-[length:100%_90%] md:bg-[length:70%_80%]">
  <div class="container mx-auto mb-12">
    <div class="max-w-4xl mx-auto my-8 w-full">
      <h3 class="font-bodoni text-black dark:text-white font-bold text-4xl text-right w-[90vw] md:w-full mx-auto">
        LINE Stickers
      </h3>
    </div>
  </div>
  <div class="flex justify-around gap-8 max-w-4xl mx-auto flex-row w-[90vw] md:w-full flex-wrap">
    {
      LINE_STICKERS_LIST.map((sticker) => (
        <a href={sticker.url} target="_blank" rel="noopener noreferrer">
          <div class="w-28 h-28 md:w-48 md:h-48 bg-white rounded-lg border border-zinc-300 flex items-center">
            <Image
              src={sticker.image}
              alt="飛べないペンギンのスタンプ"
              class="w-full"
              width={190}
              height={165}
              format="png"
              quality={0.1}
            />
          </div>
        </a>
      ))
    }
  </div>
  <span class="font-aoharu absolute right-8 bottom-4">LINE Stickers</span>
</div>

<style>
  .bg-hologram {
    background-image: url('/images/hologram.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
</style>
